@using MvcKutuphane.Models.Entity;
@model List<TBLDUYURULAR> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    string renk = "";
}

<h2>Duyurular</h2>
<table class="table table-bordered">
    <tr style="background-color:aqua">
        <th>DUYURU ID</th>
        <th>KATEGORİ</th>
        <th>TARİH</th>
        <th>SİL</th>
        <th>İÇERİK</th>
    </tr>
    @foreach (var prs in Model)
    {
        if(prs.KATEGORI=="Diğer")
        {
            renk = "bg-info text-white";
        }
        if(prs.KATEGORI=="Yeni Kitap")
        {
            renk = "bg-warning text-white";
        }
        if(prs.KATEGORI== "Kitapları Geciktirmeyin")
        {
            renk = "bg-danger text-white";
        }
        if(prs.KATEGORI== "Yazar Buluşması")
        {
            renk = "bg-success text-white";
        }
        <tr class="@renk">
            <td>@prs.ID</td>
            <td >@prs.KATEGORI</td>
            <td>@Convert.ToDateTime(prs.TARIH).ToString("dd/MM/yyyy")</td>            
            <td><a href="/Duyuru/DuyuruSil/@prs.ID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Duyuru/DuyuruDetay/@prs.ID" class="btn btn-success" style="background-color:#c60afc">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Duyuru/YeniDuyuru/" class="btn btn-primary">Duyuru Ekle</a>